@model UsersReadEditDeleteModel

@{
    ViewData["Title"] = "Home Page";

    // only for the deployment because the server the app was published is in the US, and the app shows time based on the US centrail time zone
    TimeSpan uzbOffset = TimeSpan.FromHours(5);
    TimeZoneInfo uzbTimeZone = TimeZoneInfo.CreateCustomTimeZone("Uzbekistan Time", uzbOffset, "Uzbekistan Time", "UZT");
}

<div class="text-center">
    <h1 class="display-4">Thank you for signing in!</h1>
    <p class="lead">You can see admin panel now.</p>
</div>

<form asp-action="Submit" asp-controller="Home" method="post">
    <div>
        <div class="btn-group mt-5" role="group">
            <input asp-for="@Model.Operation" type="radio" class="btn-check" value="@Operation.Block" id="btnradioBlock" autocomplete="off" onclick="this.form.submit()">
            <label class="btn btn-outline-dark" for="btnradioBlock">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
                </svg>
                Block
            </label>

            <input asp-for="@Model.Operation" type="radio" class="btn-check" value="@Operation.Unblock" id="btnradioUnblock" autocomplete="off" onclick="this.form.submit()">
            <label class="btn btn-outline-primary" for="btnradioUnblock">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock" viewBox="0 0 16 16">
                    <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z" />
                </svg>
                Unblock
            </label>

            <input asp-for="@Model.Operation" type="radio" class="btn-check" value="@Operation.Delete" id="btnradioDelete" autocomplete="off" onclick="this.form.submit()">
            <label type="submit" class="btn btn-outline-danger" for="btnradioDelete">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                </svg>
                Delete
            </label>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" onclick="toggleAll()" /></th>
                    <th scope="col">Name</th>
                    <th scope="col">Registered</th>
                    <th scope="col">Last login</th>
                    <th scope="col">Email</th>
                    <th scope="col">Id</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.CheckBoxes.Count; i++)
                {
                     <tr>
                        @Html.HiddenFor(m => Model.CheckBoxes[i].Id)
                        <td>@Html.CheckBoxFor(m => Model.CheckBoxes[i].IsChecked, new { @class = "user-checkbox"})</td>
                        <td>@Model.Users[i].FullName</td>
                        <td>@TimeZoneInfo.ConvertTimeFromUtc(Model.Users[i].RegistrationTime, uzbTimeZone).ToString("dd.MM.yyyy HH:mm")</td>
                        <td>@TimeZoneInfo.ConvertTimeFromUtc(Model.Users[i].LastLoginTime, uzbTimeZone).ToString("dd.MM.yyyy HH:mm")</td>
                        <td>@Model.Users[i].Email</td>
                        <td>@Model.Users[i].Id</td>
                        <td>@(Model.Users[i].IsActive ? "Active" : "Blocked")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

